* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.row-posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row-posters::-webkit-scrollbar {
  display: none;
}

.row-poster {
  width: 100%;
  object-fit: contain;
  max-height: 100px;
  margin-right: 10px;
  transition: all 0.35s ease-in-out;
}

.row-poster:hover {
  transform: scale(1.08);
}

.row-posterLarge {
  max-height: 250px;
}

.row-posterLarge:hover {
  transform: scale(1.09);
}